<template>
  <v-col>
    <v-card>
      <v-col cols="12" md="12" sm="12">
        <v-row>
          <v-col cols="12" md="4" sm="4">
            <h2 class="rating_descr_h2">{{ $store.getters.keys['details']}}</h2>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="12" sm="12">
        <v-simple-table>
          <template v-slot:default>
            <thead style="background-color: #303a94;">
              <tr>
                <!-- TODO: Add keys -->
                <th style=" color: white;" class="text-left">Date</th>
                <th style=" color: white;" class="text-left">Operation</th>
                <th style=" color: white;" class="text-left">Sum</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(transaction, index) in transactions.list"
                :key="index"
                :style="transaction.approved == 0 ? 'background-color: #fbff00;' : ''"
              >
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.operation }}</td>
                <td>
                  {{ transaction.sum > 0 ? '+' + transaction.sum : transaction.sum }}
                  <points-symbol></points-symbol>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
      <v-col cols="12" md="12" sm="12">
        <v-row>
          <v-col cols="8" md="8" sm="8"></v-col>
          <v-col cols="4" md="4" sm="4">Balance: {{ transactions.total }}</v-col>
        </v-row>
      </v-col>
    </v-card>
  </v-col>
</template>

<script>
export default {
  data() {
    return {
      transactions: []
    };
  },
  created() {
    this.$http
      .get(`${this.$store.getters.endpoint}/user/details`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`
        }
      })
      .then(response => {
        this.transactions = response.data;
      });
  }
};
</script>

<style>
</style>