<template>
  <v-col>
    <v-card>
      <v-card-title>Edit Profile</v-card-title>
      <v-card-text>
        <v-form @submit="send" name="form">
          <v-row>
            <v-col cols="12" style="text-align:  center;">
              <v-avatar size="80px">
                <img :src="avatar" />
              </v-avatar>
            </v-col>
            <v-col cols="12">
              <v-file-input accept="image/*" v-model="avatarUpload" name="avatar" label="Avatar"></v-file-input>
            </v-col>
            <v-col cols="12">
              <v-text-field
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                :error-messages="nameErrors"
                :counter="255"
                name="name"
                :placeholder="$store.getters.keys['first_and_last_name']"
                v-model="name"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <!-- TODO: Make key for email -->
              <v-text-field
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
                :error-messages="emailErrors"
                name="email"
                :placeholder="$store.getters.keys['enter_password_to_reset_password']"
                v-model="email"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                :placeholder="$store.getters.keys['password']"
                type="password"
                name="password"
                v-model="password"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                placeholder="Password confirmation"
                type="password"
                name="password_confirm"
                v-model="password_confirm"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              {{ this.country.name }}
              <v-autocomplete
                v-model="countryTemp"
                :loading="loadingCountries"
                :items="countries"
                cache-items
                class="mx-4"
                flat
                hide-no-data
                hide-details
                item-text="title"
                :item-value="country => {
                  return country
                }"
                :label="$store.getters.keys['choose_your_country_first']"
              ></v-autocomplete>
            </v-col>
            <v-col cols="12">
              {{ this.city.name }}
              <v-autocomplete
                v-model="cityTemp"
                :loading="loadingCities"
                :items="cities"
                class="mx-4"
                flat
                hide-no-data
                hide-details
                :item-text="city => {
                  return city.title + (city.region ? ', ' + city.region : '')
                }"
                :item-value="city => {
                  return city
                }"
                :label="$store.getters.keys['choose_a_city']"
              ></v-autocomplete>
            </v-col>
            <v-col cols="12">
              <v-textarea name="about" flat v-model="about" :label="$store.getters.keys['write_about_yourself']"></v-textarea>
            </v-col>
            <v-col cols="12">
              <v-btn type="submit">{{ $store.getters.keys['send'] }}</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength, email } from "vuelidate/lib/validators";

export default {
  created() {
    this.getUser();

    this.getCountries();
  },
  watch: {
    countryTemp(newValue) {
      this.country.id = newValue.id;
      this.country.name = newValue.title;
      this.getCities();
    },
    cityTemp(newValue) {
      this.city.id = newValue.id;
      this.city.name =
        newValue.title + (newValue.region ? ", " + newValue.region : "");
    }
  },
  methods: {
    getUser() {
      this.$http
        .get(`${this.$store.getters.endpoint}/user/info`, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`
          }
        })
        .then(response => {
          this.name = response.data.common.name;
          this.avatar = response.data.common.avatar;
          for (const key in response.data.common) {
            if (response.data.common.hasOwnProperty(key)) {
              const element = response.data.common[key];
              console.log(key, element, this[key]);
              if (this.hasOwnProperty(key)) this[key] = element;
            }
          }
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    send(e) {
      e.preventDefault();
      if (this.$v.$invalid) {
        console.log("ERROR");
      } else {
        let formData = new FormData(document.forms.form);

        if (this.country.id) {
          formData.append("country_id", this.country.id);
          formData.append("country_name", this.country.name);
          if (this.city.id) {
            formData.append("city_id", this.city.id);
            formData.append("city_name", this.city.name);
          }
        }

        this.$http
          .post(`${this.$store.getters.endpoint}/profile/edit`, formData, {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`
            }
          })
          .then(() => {
            this.$router.push("/profile");
          });
      }
    },
    getCountries() {
      this.loading = true;
      this.$http
        .get(`${this.$store.getters.endpoint}/get/countries`)
        .then(response => {
          this.countries = response.data;
          this.loadingCountries = false;
        });
    },
    getCities(e) {
      if (this.country.id) {
        this.loadingCities = true;
        if (!e) this.cities = [];
        this.$http
          .get(
            `${this.$store.getters.endpoint}/get/cities/${this.country.id}`,
            {
              params: {
                q: e
              }
            }
          )
          .then(response => {
            if (!e) this.cities = response.data;
            else this.cities.push(...response.data);
            this.loadingCities = false;
          });
      }
    }
  },
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(255) },
    email: { email }
  },
  data() {
    return {
      name: "",
      country: {
        name: ""
      },
      city: { name: "" },
      about: "",
      avatar: "",
      email: "",
      avatarUpload: null,
      countryTemp: "",
      cityTemp: "",
      countries: [],
      cities: [],
      loadingCountries: false,
      loadingCities: false,
      password: "",
      password_confirm: ""
    };
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("Name must be at most 255 characters long");
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      return errors;
    }
  }
};
</script>

<style>
</style>