<template>
  <v-col>
    <v-card>
      <v-col cols="12" md="12" sm="12">
        <v-row>
          <v-col cols="12" md="4" sm="4">
            <h2 class="rating_descr_h2">{{ $store.getters.keys['history_competitions'] }}</h2>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="12" sm="12">
        <list :competitions="competitions"></list>
      </v-col>
    </v-card>
  </v-col>
</template>

<script>
import list from "@/components/Competition/CompetitionCardListComponent.vue";

export default {
  components: {
    list
  },
  data() {
    return {
      competitions: []
    };
  },
  created() {
    this.$http
      .get(
        `${this.$store.getters.endpoint}/user${
          this.$route.params.id ? "/" + this.$route.params.id : ""
        }/history`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`
          }
        }
      )
      .then(response => {
        this.competitions = response.data.list;
      });
  }
};
</script>

<style>
</style>