<template>
  <v-col>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col class="txt_center" cols="12" md="2" sm="2" xs="2" lg="2" xl="2">
            <v-avatar size="120px">
              <v-img :src="user.avatar" alt />
            </v-avatar>
          </v-col>
          <v-col class="cols_avatar_name" cols="12" md="7" sm="7" lg="7" xl="7">
            <v-card-title class="profile_title">
              <h3>{{ user.name }}</h3>
            </v-card-title>
            <v-card-subtitle class="profile_subtitle">
              <p>{{ user.country.name ? user.country.name + ',' : '' }} {{ user.city.name }}</p>
              <p>
                Total: {{ user.total }}
                <points-symbol></points-symbol>
              </p>
            </v-card-subtitle>
          </v-col>
          <!-- <v-col class="dsp_none" lg="4" xl="4"></v-col> -->
          <v-col
            v-if="!$route.params.id"
            cols="12"
            md="3"
            sm="3"
            lg="3"
            xl="3"
            style="text-align: right;"
            class="mob_pos"
          >
            <v-btn text :to="`/profile/edit`" class="profile_icons_1">
              <img class="settings_profile" src="@/assets/icon/settings.png" alt />
            </v-btn>
            <v-menu bottom origin="center center" transition="scale-transition">
              <template v-slot:activator="{ on }">
                <v-btn text v-on="on" class="profile_icons_2">
                  <img class="dots_profile" src="@/assets/icon/menu.png" alt />
                </v-btn>
              </template>

              <v-list>
                <v-list-item v-for="(item, i) in items" :key="i" click @click="meta(item.method)">
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-col>
          <v-col cols="12">{{ user.about }}</v-col>
        </v-row>
      </v-card-text>
      <v-row class="btn_wrapper_profile">
        <v-col
          cols="6"
          :md="$route.params.id ? 12 :6"
          :sm="$route.params.id ? 12 :6"
          :xs="6"
          :lg="$route.params.id ? 12 :6"
        >
          <v-btn
            :to="`/profile${$route.params.id ? '/'+ $route.params.id : '' }/details`"
            block
            outlined
            color="indigo"
            class="details_btn"
          >{{ $store.getters.keys['details'] }}</v-btn>
        </v-col>
        <v-col cols="6" md="6" sm="6" xs="6" lg="6">
          <v-btn
            v-if="!$route.params.id"
            :to="`/profile/prize`"
            block
            raised
            dark
            color="indigo"
            class="prize_btn"
          >{{ $store.getters.keys['receive'] }}</v-btn>
        </v-col>
      </v-row>

      <!-- <v-row>
        <v-col class="txt_center" cols="12" md="12" sm="12" xs="12" lg="12" xl="12">
          <div class="konkurs_descr">
            <img class src="@/assets/icon/medal.png" alt />
            <h2>Мои конкурсы</h2>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <Card v-for="(index, competition) in competitions" :key="index" :competition="competition"></Card>
      </v-row>-->
      <v-row class>
        <v-col cols="12" md="12" sm="12" xs="12" lg="12" xl="12"></v-col>
      </v-row>
      <v-row class="btn_history">
        <v-col cols="12" md="12" sm="12" xs="12" lg="12" xl="12">
          <v-text-field
            label="Sum"
            v-model="sum"
            :suffix="real"
            :rules="[rules.required, rules.sum]"
          ></v-text-field>

          <v-btn
            block
            raised
            :to="`/profile${$route.params.id ? '/'+ $route.params.id : '' }/history`"
            color="#fe5365"
            max-width="700px"
            class="konkurs_history"
          >{{ $store.getters.keys['history_competitions'] }}</v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-col>
</template>
<script>
// import Card from "@/components/Competition/CompetitionCardComponent";
export default {
  // components: {
  //   Card
  // },
  data: () => ({
    currency: 0,
    rate: 0,
    rules: {
      required: value => !!value || "Required.",
      sum: value => {
        const pattern = /^\d+$/;
        return pattern.test(value) || "Invalid sum.";
      }
    },
    sum: 0,
    items: [
      {
        title: "Blacklist",
        method: "blacklist"
      },
      {
        title: "Logout",
        method: "logout"
      }
    ],
    user: {
      name: "",
      avatar: "",
      country: {
        name: ""
      },
      city: { name },
      total: 0,
      about: ""
    }
  }),
  created() {
    let convert = this.$http.get(`${this.$store.getters.endpoint}/currency`, {
      headers: {
        Authorization: `Bearer ${localStorage.getItem("token")}`
      }
    });
    this.$http.all([convert]).then(responses => {
      this.currency = responses[0].data.currency;
      this.rate = responses[0].data.rate;
    });
    this.$http
      .get(`${this.$store.getters.authpoint}/check`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`
        }
      })
      .then(() => {
        if (this.$route.params.id) {
          this.$http
            .get(
              `${this.$store.getters.endpoint}/user/${this.$route.params.id}/info`,
              {
                headers: {
                  Authorization: `Bearer ${localStorage.getItem("token")}`
                }
              }
            )
            .then(response => {
              this.user = response.data.common;
              this.competitions = response.data.competition;
            })
            .catch(error => {
              console.log(error.response);
            });
        } else {
          this.$http
            .get(`${this.$store.getters.endpoint}/user/info`, {
              headers: {
                Authorization: `Bearer ${localStorage.getItem("token")}`
              }
            })
            .then(response => {
              this.user = response.data.common;
              this.competitions = response.data.competition;
            })
            .catch(error => {
              console.log(error.response);
            });
        }
      })
      .catch(() => {
        localStorage.deleteItem("token");
        localStorage.deleteItem("id");
        this.$router.push("/");
      });
  },
  methods: {
    blacklist() {
      alert(2);
    },
    logout() {
      this.$http
        .post(
          `${this.$store.getters.endpoint}/logout`,
          {},
          {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`
            }
          }
        )
        .then(() => {
          localStorage.removeItem("token");
          localStorage.removeItem("id");
          this.$router.push("/");
        });
    },
    meta(method) {
      this[method]();
    }
  },
  computed: {
    real() {
      return (this.sum * this.rate) / 1000 + this.currency;
    }
  }
};
</script>
<style scoped>
.btn_wrapper_profile {
  margin: auto;
}
.settings_profile {
  width: 30px;
}
.dots_profile {
  width: 8px;
}
.profile_title {
  color: #262346;
  font-size: 20px;
  font-family: "Circe-Bold", sans-serif;
}
.profile_subtitle {
  font-size: 16px;
  color: #b1a9b8;
  font-family: "Circe-Bold", sans-serif;
}
.profile_descr_h2 {
  font-family: "Circe-Bold", sans-serif;
  color: #262346;
  font-size: 30px;
}
.profile_icons_1,
.profile_icons_2 {
  vertical-align: middle;
  text-align: center;
  margin-top: 25px;
}
.profile_icons_2 {
  padding: 0;
  padding-top: 5px;
}

.konkurs_descr {
  vertical-align: middle;
  padding-left: 25px;
  padding-top: 20px;
}
.konkurs_descr > img {
  vertical-align: middle;
}
.konkurs_descr > h2 {
  vertical-align: middle;
  display: inline;
  padding-left: 20px;
  color: #262346;
  font-size: 30px;
  font-family: "Circe-Bold", sans-serif;
}
.konkurs_history {
  color: #fff;
}
.btn_history {
  margin: auto;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .cols_avatar_name {
    padding-left: 45px;
    padding-top: 15px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 600px) {
  .profile_title > h3 {
    margin: auto;
  }
  .profile_subtitle {
    text-align: center;
  }
  .dsp_none {
    display: none;
  }
  .txt_center {
    text-align: center;
  }
  .cols_avatar_name {
    padding-left: 0px;
    padding-top: 0px;
  }
  .mob_pos{
    position: absolute;
    top: -25px;
    left: 15px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
</style>