<template>
  <v-col>
    <v-card>
      <v-card-title>Out</v-card-title>
      <v-card-text>
        <v-col cols="12" md="12" sm="12">
          <v-text-field v-model="data.email" :rules="[rules.required, rules.email]" label="E-mail"></v-text-field>
          <v-text-field
            v-model="data.card"
            v-mask="mask"
            :rules="[rules.required, rules.card]"
            label="Card"
          ></v-text-field>
          <v-text-field
            label="Sum"
            v-model="data.sum"
            :suffix="real"
            :rules="[rules.required, rules.sum]"
          ></v-text-field>
          <v-text-field label="Phone" v-model="data.phone" v-mask="maskPhone"></v-text-field>
          <v-radio-group v-model="data.type">
            <template v-slot:label>
              <div>{{ $store.getters.keys['choose_card_type'] }}</div>
            </template>
            <v-radio value="paypal">
              <template v-slot:label>
                <div>Paypal</div>
              </template>
            </v-radio>
            <v-radio value="card">
              <template v-slot:label>
                <div>QIWI</div>
              </template>
            </v-radio>
          </v-radio-group>
          <v-btn color="success" :disabled="total < 1000" block @click="send()">{{ $store.getters.keys['send'] }}</v-btn>
        </v-col>
      </v-card-text>
    </v-card>
    <success-modal :dialog="success" @close="success = false"></success-modal>
  </v-col>
</template>

<script>
import { mask } from "vue-the-mask";
import successModal from "@/components/successModal.vue";

export default {
  directives: {
    mask
  },
  components: {
    successModal
  },
  data() {
    return {
      success: false,
      rules: {
        required: value => !!value || "Required.",
        counter: value => value.length <= 20 || "Max 20 characters",
        phone: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
        card: value => {
          const pattern = /[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}/;
          return pattern.test(value) || "Invalid card number.";
        },
        sum: value => {
          const pattern = /^\d+$/;
          return pattern.test(value) || "Invalid sum.";
        }
      },
      mask: "#### #### #### ####",
      maskPhone: "+# (###) ###-##-##",
      data: {
        phone: "",
        number: "",
        email: "",
        payment_type: "paypal",
        sum: 0
      },
      rate: 0,
      currency: "",
      total: 0,
      headers: {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`
        }
      }
    };
  },
  created() {
    let convert = this.$http.get(
      `${this.$store.getters.endpoint}/currency`,
      this.headers
    );
    let total = this.$http.get(
      `${this.$store.getters.endpoint}/user/rating`,
      this.headers
    );
    this.$http.all([convert, total]).then(responses => {
      this.currency = responses[0].data.currency;
      this.rate = responses[0].data.rate;
      this.total = responses[1].data;
    });
  },
  computed: {
    real() {
      return (this.data.sum * this.rate) / 1000 + this.currency;
    }
  },
  methods: {
    send() {
      this.$http
        .post(`${this.$store.getters.endpoint}/pay`, this.data, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`
          }
        })
        .then(() => {
          this.success = true;
        });
    }
  }
};
</script>

<style>
</style>