<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>a_lux__jsb_front</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://vk.com/js/api/openapi.js?167" type="text/javascript"></script>
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.5/platform.min.js"
    integrity="sha256-a5JlAx3qX6Rkvx+38zcjAPQLDQVUIwwwUeOrlDQ5W8s=" crossorigin="anonymous"></script>
  <script>
    var fallbackToStore = function () {
      window.location.replace('https://iprize.io');
    };
    var openApp = function () {
      if (platform.os.family == 'iOS') {
        window.location.replace("myapp://main");
      }
      else {
        if (platform.os.family == 'Android') {
          window.location.replace("intent://main#Intent;scheme=myapp;package=com.jsbproject;end");
        }
      }
    };
    var triggerAppOpen = function () {
      openApp();
      // setTimeout(fallbackToStore, 250);
    };
    window.onload = function () {
      triggerAppOpen();
    }
  </script>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '538930670278062',
        cookie: true,
        xfbml: true,
        version: 'v6.0'
      });

      FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</head>

<body>
  <style>
    #butns {
      display: none !important;
    }

    #app {
      display: block !important;
    }

    @media (max-width: 576px) {
      #butns {
        display: flex !important;
        flex-direction: column;
        align-items: center;
      }

      .random {
        padding: 50px;
      }

      #inspire {
        display: none !important;
      }
    }
  </style>
  <noscript>
    <strong>We're sorry but a_lux__jsb_front doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <div id="butns">
    <a href="intent://contenst?id=459&title=Популярные#Intent;scheme=myapp;package=com.jsbproject;end"
      class="random"><img width="200px" src="1.png"></a>
    <a href="myapp://contenst?id=459&title=Популярные" class="random"><img width="200px" src="2.png"></a>

  </div>
  <!-- built files will be auto injected -->
</body>

</html>