<template>
  <v-card class="elevation-8">
    <v-card-title>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="12" md="12">{{ competition.name }}</v-col>
      </v-row>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="12" md="12">
            <a :href="competition.url">
              <img style="width: 100%" :src="competition.img" />
            </a>
            <v-row align="center" justify="center">
              <v-col cols="12" sm="11" md="11" class="card_users">
                <img src="@/assets/user.svg" alt />
                {{ competition.count }} {{ $store.getters.keys['participants']}}
              </v-col>
              <v-col cols="12" sm="1" md="1" class="card_inner" style="text-align: right;">
                {{ formattedSum }}
                <points-symbol></points-symbol>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col cols="12" sm="12" md="12">
                <v-progress-linear :value="dateProgress" style="height: 16px;"></v-progress-linear>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col cols="12" sm="6" md="6">
                <strong>Start:</strong>
                {{ moment.unix(competition.start_at).format('DD.MM.YYYY')}}
              </v-col>
              <v-col cols="12" sm="6" md="6" style="text-align: right;">
                <strong>Finish:</strong>
                {{ moment.unix(competition.finish_at).format('DD.MM.YYYY') }}
              </v-col>
            </v-row>
            <p>
              <strong>{{ $store.getters.keys['competition_desc'] }}</strong>
            </p>
            <p>{{ competition.description }}</p>
            <v-btn
              class="ma-2 btn_card"
              tile
              block
              outlined
              @click="compete"
              color="success"
              :disabled="competition.completed || (Date.now()/1000 > competition.finish_at)"
            >
              {{
              competeButtonText
              }}
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
    <login-modal :show="login" @close="login = false;"></login-modal>
    <compete-modal
      @upload="send"
      :competition="competition"
      :show="competeShow"
      @close="competeShow = false"
    ></compete-modal>
    <v-overlay style="z-index: 220;" :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import LoginModal from "@/components/Authorization/LoginModalComponent.vue";
import CompeteModal from "@/components/Work/WorkUploadModal.vue";

export default {
  components: {
    LoginModal,
    CompeteModal
  },
  metaInfo() {
    return {
      title: this.competition.name,
      meta: [
        {
          property: "og:title",
          content: this.competition.name
        },
        {
          property: "og:image",
          content: this.competition.img
        },
        {
          property: "og:description",
          content: this.competition.description
        }
      ]
    };
  },
  data() {
    return {
      competition: {
        completed: true,
        count: 0,
        created_at: 0,
        description: "",
        finish_at: 0,
        id: 0,
        img: "",
        name: "",
        price: 0,
        start_at: 0,
        type: "",
        type_id: 1,
        updated_at: 0
      },
      competeShow: false,
      login: false,
      loading: false
    };
  },
  props: ["id"],
  created() {
    this.getData();
  },
  methods: {
    getData() {
      this.loading = true;
      this.$http
        .get(`${this.$store.getters.endpoint}/competition/${this.id}`, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`
          }
        })
        .then(response => {
          this.competition = response.data;
          this.loading = false;
        });
    },
    compete() {
      if (localStorage.getItem("token")) {
        this.competeShow = true;
      } else {
        this.login = true;
      }
    },
    send(data) {
      this.loading = true;
      this.competeShow = false;
      this.$http
        .post(
          `${this.$store.getters.endpoint}/competition/${this.competition.id}/compete`,
          data,
          {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`
            }
          }
        )
        .then(() => {
          this.getData();
        });
    }
  },
  computed: {
    competeButtonText() {
      if (Date.now() / 1000 > this.competition.finish_at) {
        return "Competition finished";
      } else if (this.competition.completed) {
        return "Yo have already competed";
      } else {
        return "Compete";
      }
    },
    dateProgress() {
      let now = Date.now() / 1000 - this.competition.start_at;
      let finish = this.competition.finish_at - this.competition.start_at;
      return (now * 100) / finish;
    },
    formattedSum() {
      let digits = 4;
      let si = [
        { value: 1, symbol: "" },
        { value: 1e3, symbol: "k" },
        { value: 1e6, symbol: "M" },
        { value: 1e9, symbol: "G" },
        { value: 1e12, symbol: "T" },
        { value: 1e15, symbol: "P" },
        { value: 1e18, symbol: "E" }
      ];
      let rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
      let i;
      for (i = si.length - 1; i > 0; i--) {
        if (this.competition.price >= si[i].value) {
          break;
        }
      }
      return (
        (this.competition.price / si[i].value)
          .toFixed(digits)
          .replace(rx, "$1") + si[i].symbol
      );
    }
  }
};
</script>

<style>
.v-application .ma-2 {
  margin: auto !important;
}
.ma-2 {
  margin: auto !important;
  min-width: 150px !important;
}
.card_inner {
  background-color: #ffbc36;
  border-radius: 5px;
  padding: 0px 10px;
  color: #fff;
  font-size: 14px;
  font-family: "Circe-Bold", sans-serif;
}
.card_users {
  display: flex;
  align-items: center;
}
.card_users > img {
  padding-right: 10px;
}
</style>