<template>
  <div style="width: 100%;">
    <competition :id="$route.params.id"></competition>
    <work-list :competitionId="$route.params.id"></work-list>
  </div>
</template>

<script>
import Competition from "@/components/Competition/CompetitionFullCardComponent.vue";
import WorkList from "@/components/Work/WorkListComponent.vue";
export default {
  components: {
    Competition,
    WorkList
  }
};
</script>

<style>
</style>