<template>
  <router-link :to="`/competition/${competition.id}`" class="link_td">
    <v-card style="max-width: 350px; margin: auto;" class="elevation-8">
      <v-card-text class="img_card">
        <figure>
          <img style="width: 100%" :src="competition.image" :alt="competition.name" />
          <figcaption class="card_name">{{ competition.name }}</figcaption>
        </figure>
      </v-card-text>
      <v-card-actions style="display: flex; justify-content: space-between;">
        <div>
          <img width="20px" src="@/assets/icon/user.png" />
          {{ competition.count }}
        </div>
        <div class="card_number">
          {{ formattedSum }}
          <points-symbol></points-symbol>
        </div>
        <div v-if="competition.finish">END</div>
      </v-card-actions>
    </v-card>
  </router-link>
</template>

<script>
export default {
  props: ["competition"],
  computed: {
    formattedSum() {
      let digits = 4;
      let si = [
        { value: 1, symbol: "" },
        { value: 1e3, symbol: "k" },
        { value: 1e6, symbol: "M" },
        { value: 1e9, symbol: "G" },
        { value: 1e12, symbol: "T" },
        { value: 1e15, symbol: "P" },
        { value: 1e18, symbol: "E" }
      ];
      let rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
      let i;
      for (i = si.length - 1; i > 0; i--) {
        if (this.competition.sum >= si[i].value) {
          break;
        }
      }
      return (
        (this.competition.sum / si[i].value).toFixed(digits).replace(rx, "$1") +
        si[i].symbol
      );
    }
  }
};
</script>

<style>
.link_td {
  text-decoration: none;
}
.card_number {
  background-color: #ffbc36;
  border-radius: 5px;
  padding: 0px 5px;
  color: #fff;
  font-size: 14px;
  font-family: "Circe-Bold", sans-serif;
}
.card_name {
  color: #262346;
  font-size: 13px;
  font-family: "Circe-Bold", sans-serif;
}
.img_card {
  width: 100%;
  min-height: 185px;
}
</style>