<template>
  <v-row align="center" justify="center">
    <v-col cols="12" sm="6" md="3" v-for="competition in competitions" :key="competition.id">
      <card :competition="competition"></card>
    </v-col>
  </v-row>
</template>

<script>
import card from "@/components/Competition/CompetitionCardComponent.vue";

export default {
  components: {
    card
  },
  props: ["competitions"]
};
</script>

<style>
</style>