<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" md="12">
        <v-form @submit="checkCode()">
          <v-card class="elevation-8">
            <v-card-text>
              <language-selector></language-selector>
              <br />
              <v-text-field v-model="code" :label="$store.getters.keys['enter_code']"></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-btn type="submit" color="error" style="width: 100%">{{ $store.getters.keys['login_description'] }}</v-btn>
            </v-card-actions>
            <hr />
            <div style="text-align: center">
              <span>{{ $store.getters.keys['have_an_account'] }}</span>
              <br />
              <router-link to="login">{{ $store.getters.keys['login']}}</router-link>
            </div>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import LanguageSelector from '@/components/SelectLanguages'

  export default {
    components: {
      LanguageSelector
    },
  data() {
    return {
      code: "",
      language: "",
      rules: {
        required: value => !!value || "Required.",
        counter: value => value.length <= 20 || "Max 20 characters",
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        }
      }
    };
  },
  methods: {
    checkCode() {
      this.$http
        .get(`${this.$store.getters.authpoint}/code`, {
          params: {
            code: this.code
          }
        })
        .then(response => {
          localStorage.setItem("token", response.data.access_token);
          localStorage.setItem("id", response.data.id);
          this.$router.push("/profile/edit");
        })
        .catch(error => console.log(error.response.data));
    }
  }
};
</script>

<style>
</style>