<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" md="12">
        <v-card class="elevation-8">
          <v-card-text>
            <language-selector></language-selector>
            <br />
            <v-form>
              <v-text-field v-model="email" :rules="[rules.required, rules.email]" :label="$store.getters.keys['enter_password_to_reset_password']"></v-text-field>
            </v-form>
            <div style="text-align: right;">
              <router-link to="/code">Already got code?</router-link>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn @click="requestCode()" color="error" style="width: 100%">Send code</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import LanguageSelector from '@/components/SelectLanguages'

  export default {
    components: {
      LanguageSelector
    },
      data() {
    return {
      email: "",
      language: "",
      rules: {
        required: value => !!value || "Required.",
        counter: value => value.length <= 20 || "Max 20 characters",
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        }
      }
    };
  },
  methods: {
    requestCode() {
      this.$http
        .post(`${this.$store.getters.authpoint}/register`, {
          email: this.email
        })
        .then(() => this.$router.push("/code"))
        .catch(error => console.log(error.response.data));
    }
  }
};
</script>

<style>
</style>