<template>
  <v-card class="elevation-8">
    <error-modal :show="showError" :errorText="errorText" @close="showError = false"></error-modal>
    <v-form @submit="login">
      <v-card-text>
        <language-selector></language-selector>
        <br />
        <div style="display: flex; flex-direction: column;">
          <span style="align-self: center;">{{ this.$store.getters.keys['sign_in_with'] }}</span>
          <social @success="social"></social>
          <br />
          <br />
          <span style="align-self: center;">{{ this.$store.getters.keys['or'] }}</span>
        </div>
<!--        TODO: Make separate key for label -->
        <v-text-field v-model="data.user.default.email" :label="$store.getters.keys['login']" name="login" type="text" />

        <v-text-field
          v-model="data.user.default.password"
          id="password"
          :label="$store.getters.keys['password']"
          name="password"
          type="password"
        />
        <div style="text-align: right">
          <span @click="forgot">{{ $store.getters.keys['forget_password']}}</span>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-btn type="submit" class="login_btn" color="error">{{ $store.getters.keys['login']}}</v-btn>
      </v-card-actions>
    </v-form>
    <hr />
    <div style="text-align: center">
      <span>{{ $store.getters.keys['have_an_account'] }}</span>
      <br />
      <router-link to="/register" @click="$emit('close')">{{ $store.getters.keys['register'] }}</router-link>
    </div>
  </v-card>
</template>

<script>
import ErrorModal from "@/components/IncorrectDataModalComponent.vue";
import Social from "@/components/Authorization/Social.vue";
import LanguageSelector from '@/components/SelectLanguages'

export default {
  components: {
    ErrorModal,
    Social,
    LanguageSelector
  },
  data() {
    return {
      data: {
        user: {
          default: {
            email: "",
            password: ""
          },
          social: {
            id: 0,
            name: "",
            picture: "",
            type: "",
            email: ""
          },
          type: "default"
        }
      },
      showError: false,
      errorText: "",
    };
    
  },
  methods: {
    social(e) {
      this.data = e;
      this.login();
    },
    forgot() {
      this.$emit("close");
      this.$router.push("/forgot");
    },
    login(e) {
      if (e) e.preventDefault();
      this.$http
        .post(`${this.$store.getters.authpoint}/login`, this.data)
        .then(response => {
          localStorage.setItem("token", response.data.access_token);
          localStorage.setItem("id", response.data.id);
          localStorage.setItem("avatar", response.data.avatar);
          this.$emit("login");
        })
        .catch(error => {
          this.errorText = error.response.data;
          this.showError = true;
        });
    }
  }
};
</script>

<style>
.login_btn{
  width: 50%;
  margin: auto;
}
</style>