<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" md="12">
        <login-card @login="$router.go(-1)"></login-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import LoginCard from "@/components/Authorization/LoginCardComponent.vue";
export default {
  components: {
    LoginCard
  }
};
</script>

<style>
</style>