<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" md="12">
        <v-card class="elevation-8">
          <v-card-text>
            <language-selector></language-selector>
            <br />
            <div style="display: flex; flex-direction: column;">
              <span style="align-self: center;">{{ this.$store.getters.keys['sign_in_with'] }}</span>
              <social @success="social"></social>
              <br />
              <br />
              <span style="align-self: center;">{{ this.$store.getters.keys['sign_in_with'] }}</span>
            </div>
            <v-form>
              <!--        TODO: Make key for label -->
              <v-text-field v-model="email" :rules="[rules.required, rules.email]" label="E-mail"></v-text-field>
            </v-form>
            <div style="text-align: right;">
              <!--        TODO: Make key for phrase -->
              <router-link to="/code">Already got code?</router-link>
            </div>
            <div style="text-align: right;">
              <router-link to="/forgot">{{ $store.getters.keys['forget_password']}}</router-link>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn @click="requestCode()" color="error" style="width: 100%">{{ $store.getters.keys['register'] }}</v-btn>
          </v-card-actions>
          <hr />
          <div style="text-align: center">
            <span>{{ $store.getters.keys['have_an_account'] }}</span>
            <br />
            <router-link to="login">{{ $store.getters.keys['login'] }}</router-link>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Social from "@/components/Authorization/Social.vue";
import LanguageSelector from '@/components/SelectLanguages'

export default {
  components: {
    Social,
    LanguageSelector
  },
  data() {
    return {
      email: "",
      language: "",
      rules: {
        required: value => !!value || "Required.",
        counter: value => value.length <= 20 || "Max 20 characters",
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(value) || "Invalid e-mail.";
        }
      }
    };
  },
  methods: {
    social(e) {
      this.data = e;
      this.login();
    },
    requestCode() {
      this.$http
        .post(`${this.$store.getters.authpoint}/register`, {
          email: this.email
        })
        .then(() => this.$router.push("/code"))
        .catch(error => console.log(error.response.data));
    }
  },
  created() {
    // console.log(this.$root.$children[0].$children[0].$children[0].$children[0]);
  }
};
</script>

<style>
</style>