<template>
  <div style="display: flex; justify-content: space-evenly;">
    <img class="soc_bg_vk" src="@/assets/vk.svg" @click="vk" />
    <g-signin-button :params="googleSignInParams" @success="onSignIn" @error="onSignInError">
      <img class="soc_bg_face" src="@/assets/gmail.svg" />
    </g-signin-button>

    <fb-signin-button :params="fbSignInParams" @success="onSignInFacebook" @error="onSignInError">
      <img class="soc_bg_face" src="@/assets/facebook.svg" />
    </fb-signin-button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      googleSignInParams: {
        client_id:
          "16748718714-t2dehj0vpic004vpjmhhecsfc91rvb42.apps.googleusercontent.com"
      },
      fbSignInParams: {
        scope: "email,user_likes",
        return_scopes: true
      },
      data: {
        user: {
          default: {
            email: "",
            password: ""
          },
          social: {
            id: 0,
            name: "",
            picture: "",
            type: "",
            email: ""
          },
          type: "default"
        }
      }
    };
  },
  methods: {
    onSignIn(googleUser) {
      // Useful data for your client-side scripts:
      var profile = googleUser.getBasicProfile();
      // The ID token you need to pass to your backend:

      this.data.user.type = "social";
      this.data.user.social.type = "google";
      this.data.user.social.id = googleUser.getId();
      this.data.user.social.name = profile.getName();
      this.data.user.social.picture = profile.getImageUrl();
      this.data.user.social.email = profile.getEmail();
      this.login();
    },
    onSignInFacebook(response) {
      //eslint-disable-next-line
      FB.api("/me", dude => {
        console.log(
          `Good to see you, ${dude.name}. Here is responce: `,
          response
        );
      });
    },
    onSignInError(error) {
      // `error` contains any error occurred.
      console.log("OH NOES", error);
    },
    login() {
      this.$emit("success", this.data);
    },
    vk() {
      let that = this;
      //eslint-disable-next-line
      VK.Auth.login(function(data) {
        that.data.user.type = "social";
        that.data.user.social.type = "vk";
        that.data.user.social.id = data.session.user.id;
        that.data.user.social.name =
          data.session.user.first_name + " " + data.session.user.last_name;
        that.login();
      });
    }
  }
};
</script>

<style>
.soc_bg_vk{
  color: red;
}
</style>