<template>
  <v-row align="center" justify="center">
    <v-col cols="12" sm="12" md="12" lg="12" xl="12">
      <swiper :options="swiperOption">
        <swiper-slide v-for="(ad, index) in ads" :key="index">
          <a :href="ad.url">
            <img :src="ad.img" class="img_icon_style" />
          </a>
        </swiper-slide>
      </swiper>
    </v-col>
  </v-row>
</template>

<script>
export default {
  created() {
    this.$http
      .get(`${this.$store.getters.endpoint}/ads/list`)
      .then(response => {
        this.ads = response.data;
      })
      .catch(error => console.error(error.response.data));
  },
  data() {
    return {
      ads: [],
      swiperOption: {
        autoplay: {
          delay: 2000
        }
      }
    };
  }
};
</script>

<style>
</style>