<template>
  <v-card class="elevation-8" style="width: 100%;">
    <v-card-text>
      <v-container>
        <feed></feed>
        <menu-component></menu-component>
        <ads></ads>
        <transition-group name="fade">
          <v-row
            align="center"
            justify="center"
            v-for="(category, index) in competitions"
            :key="index"
          >
            <v-container>
              <v-row align="center" justify="center">
                <v-col cols="12" sm="12" md="12" class="category_name">
                  <img class="fire_img" :src="category.image" alt />
                  <span>{{ category.name }}</span>
                </v-col>
              </v-row>
              <cardList :competitions="category.list"></cardList>
            </v-container>
          </v-row>
        </transition-group>
      </v-container>
    </v-card-text>
    <v-card-actions></v-card-actions>
  </v-card>
</template>

<script>
import ads from "@/components/AdsComponent.vue";
import cardList from "@/components/Competition/CompetitionCardListComponent.vue";
import MenuComponent from "@/components/CategoriesMenuComponent.vue";
import feed from "@/components/Line.vue";

export default {
  components: {
    ads,
    cardList,
    MenuComponent,
    feed
  },
  destroyed() {
    window.removeEventListener("scroll", this.onScroll);
  },
  watch: {
    "$route.params.id": function() {
      this.page = 1;
      this.openCategory(this.$route.params.id);
    }
  },
  created() {
    if (this.$store.getters.categories.length == 0) {
      this.$http
        .get(`${this.$store.getters.endpoint}/categories`)
        .then(response => {
          this.$store.commit("setCategories", response.data);
        })
        .catch(error => console.error(error.response.data));
    }

    this.openCategory(this.$route.params.id);
    // this.$http
    //   .get(`${this.$store.getters.endpoint}/ads/list`)
    //   .then(response => console.log(response.data))
    //   .catch(error => console.error(error.response.data));

    window.addEventListener("scroll", this.onScroll);
  },
  metaInfo() {
    let array = this.$store.getters.categories.filter(
      e => e.id == this.$route.params.id
    );
    let image = "";
    console.log(array);
    if (array.length > 0) {
      image = array[0].image;
    }
    return {
      title: this.category,
      meta: [
        {
          property: "og:title",
          content: this.category
        },
        {
          property: "og:image",
          content: image
        },
        {
          property: "og:description",
          content: "Description"
        }
      ]
    };
  },
  data() {
    return {
      competitions: [],
      page: 1,
      category: ""
    };
  },
  computed: {},
  methods: {
    openCategory(id) {
      this.competitions = [];
      this.$http
        .get(`${this.$store.getters.endpoint}/category/${id}/list`, {
          params: {
            page: this.page
          }
        })
        .then(response => {
          this.competitions.push(response.data);
          console.log(response);
          this.category = response.data.name;
        })
        .catch(error => console.error(error.response.data));
    },
    setPage(page) {
      this.page = page;
    },
    onScroll() {
      // if(){
      if (document.body.clientHeight == window.scrollY + window.innerHeight) {
        this.setPage(this.page + 1);
        this.$http
          .get(
            `${this.$store.getters.endpoint}/category/${this.$route.params.id}/list`,
            {
              params: {
                page: this.page
              }
            }
          )
          .then(response => {
            if (response.data.list.length != 0) {
              this.competitions[0].list.push(...response.data.list);
            } else {
              this.setPage(this.page - 1);
            }
          })
          .catch(error => console.error(error.response.data));
      }
    }
  }
};
</script>

<style scoped>
.category_icons {
  text-align: center;
}
.img_style_icon {
  width: 35px;
  height: 35px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.category_name {
  display: flex;
  align-items: center;
}
</style>