<template>
  <v-row
    class="pos_icons_block"
    align="center"
    justify="center"
    style="background-color: #fbeae1; padding-right: 25px;"
  >
    <v-col
      cols="2"
      sm="2"
      md="1"
      v-for="(category, index) in this.$store.getters.categories"
      :key="index"
      class="cols_style"
    >
      <router-link :to="`/category/${category.id}`">
        <figure :class="category.id == $route.params.id ? category_block_border : ''" class="category_block">
          <img class="img_icon" :src="category.image" :alt="category.name" />
          <figcaption class="catergoy_pos">{{ category.name }}</figcaption>
        </figure>
      </router-link>
    </v-col>
  </v-row>
</template>
<script>
export default {
  data(){
    return{
      category_block_border: 'category_block_border',
      a: null,
    }
  },
  methods: {
      
  }
};
</script>
<style>
  .category_block_border{
    border: 1px solid #000!important;
    font-weight: bold;
  }
</style>
