<template>
    <v-col cols="12" md="12" sm="12">
        <v-row>
          <v-col cols="12" md="4" sm="4">
              <h2 class="contacts_descr_h2">Контакты</h2>
          </v-col>
        </v-row>
      <v-col cols="12" md="12" sm="12">
        <v-row class="contacts_wrapper">
          <v-col cols="12" md="12" sm="12">
            <div class="map_contacts">
              <googMap></googMap>
            </div>
          </v-col>
          <v-col cols="12" md="5" sm="5">
            <div class="map_descr map_descr_first">
              <p>Наш адрес:</p>
              <h3>Казахстан, ул. Красная 17</h3>
            </div>
          </v-col>
          <v-col cols="12" md="4" sm="4">
            <div class="map_descr">
              <p>Звоните нам:</p>
              <h3>+7 900 231 10 00</h3>
            </div>
          </v-col>
          <v-col cols="12" md="3" sm="3">
            <div class="map_descr">
              <p>Пишите нам:</p>
              <a>info@mail.ru</a>
            </div>
          </v-col>
            <v-col cols="12" md="10" sm="10" class="btn_center">
              <div class="contacts_wrapper_btn">
                <a  href="#" @click="dialog = true" class="contacts_btn">написать нам</a>
              </div>
              <div class="text-center">
                <v-dialog
                  v-model="dialog"
                  width="500"
                >
                  <v-card>
                    <v-card-title
                      class="headline grey lighten-2"
                      primary-title
                    >
                      Написать нам
                    </v-card-title>

                    <v-card-text>
                      <v-text-field label="Ваш Email" v-model="email" :rules="rules" hide-details="auto"></v-text-field>
                       <v-textarea
                          outlined
                          v-model="text"
                          name="input-7-4"
                          label="Текст"
                          value=""
                          class="textarea_style"
                        ></v-textarea>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="primary"
                        text
                        @click="dialog = false, feedback()"
                      >
                        Отправить
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </div>
          </v-col>
        </v-row>
      </v-col>
    </v-col>
</template>

<script>
import googMap from '@/components/Map/googMap'
export default {
  data(){
    return{
      dialog: false,
      text: '',
      email: '',
      rules: [
        value => !!value || 'Required.',
        value => (value && value.length >= 3) || 'Min 3 characters',
      ],
    }
  },
  methods: {
    alert(){
      this.$swal('Good job!',
                  'You clicked the button!',
                  'success');
    },
    feedback(){
      this.$http({
        method: 'post',
        url: `${this.$store.getters.endpoint}/feedback`,
        data: {
          user_id: localStorage.getItem('id'),
          text: this.text,
          email: this.email
        },
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`
        }
      }).then(this.alert())
    }
  },
  mounted(){
    
  },
  components: {
    googMap
  }
}
</script>

<style scoped>
  .contacts_descr_h2{
    font-size: 48px;
    color: #262346;
    font-family: 'Circe-Bold', sans-serif;
  }
  .contacts_wrapper{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  .map_contacts{
    width: 100%;
    height: 550px;
  }
  .map_descr>h3{
    color: #262346;
    font-size: 20px;
    font-family: 'Circe-Bold', sans-serif;
  }
  .map_descr>p{
    font-family: 'Circe-Bold', sans-serif;
    font-size: 16px;
    color: #252525;
  }
  .map_descr>a{
    font-family: 'Circe-Bold', sans-serif;
    color: #2f3b92;
    text-decoration: none;
    font-size: 20px;
  }
  .contacts_btn{
    font-size: 24px;
    font-family: 'Circe-Bold', sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    letter-spacing: 5px;
    padding: 15px 0px;
    width: 100%;
  }
  .contacts_wrapper_btn{
    text-align: center;
    background-color: #fe5365;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .contacts_btn:hover{
    background-color: #de4556;
    border-radius: 10px;
  }
  .map_descr_first{
    padding-left: 15px;
  }
  .btn_center{
    margin: 0 auto;
  }
  .textarea_style{
    margin-top: 25px;
  }
</style>