<template>
  <v-bottom-navigation class="elevation-8">
    <v-row align="center" justify="center">
      <v-col class="footer_paddings_0" cols="1" sm="1" md="1"></v-col>
      <v-col class="footer_paddings_0" cols="1" sm="1" md="1">
        <img class="logo_mob_w" src="~@/assets/red_black.svg" alt />
      </v-col>
      <v-col class="footer_paddings_0" cols="4" sm="4" md="4">
        <div>iPrize -- 2020. Все права защищены</div>
      </v-col>
      <v-col class="footer_paddings_0" cols="6" sm="6" md="6">
        <div style="display: flex; justify-content: space-evenly;">
          <router-link to="/oferts" value="oferta" class="footer_link">Privacy Policy</router-link>
          <router-link to="/terms" value="terms" class="footer_link">Terms of use</router-link>
          <router-link to="/rules" value="rule" class="footer_link">About Us</router-link>
          <router-link to="/contacts" value="contact" class="footer_link">Feedback</router-link>
        </div>
      </v-col>
    </v-row>
  </v-bottom-navigation>
</template>

<script>
export default {};
</script>

<style>
.footer_paddings_0 {
  padding: 0;
}
.footer_link {
  text-decoration: none;
  font-size: 18px;
  color: #b1a9b8;
  font-family: "Circe-Bold", sans-serif;
}
.footer_link:hover {
  color: #111;
}
.v-application > a {
  color: #b1a9b8;
}
.logo_mob_w{
  width: 70px;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .footer_link {
    font-size: 14px;
    color: #ccc !important;
  }
  .footer_paddings_0 {
    font-size: 13px;
  }
  .logo_mob_w{
    width: 20px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
</style>