<template>
  <v-bottom-navigation class="elevation-2" fixed>
    <v-container class="fill-height" fluid style="padding: 0;">
      <v-row justify="center">
        <v-col cols="12" sm="12" md="10" lg="10" xl="10" style="padding: 0;">
          <v-row>
            <v-col cols="2" sm="2" md="2" lg="2" xs="2" xl="2">
              <v-btn @click="profile" value="profile" class="user">
                <img :src="userImg" />
              </v-btn>
            </v-col>

            <v-col class="dsp_none txt_center" sm="6" md="6" lg="6" xs="6" xl="6">
              <v-btn to="/" value="competitions" >
                <img :src="contestsImg" />
              </v-btn>

              <v-btn to="/questions" value="nearby" >
                <img :src="questionsImg" />
              </v-btn>

              <v-btn to="/rating" value="rating">
                <img :src="ratingImg" />
              </v-btn>

              <v-btn to="/reference" value="questions">
                <img :src="rulesImg" />
              </v-btn>
            </v-col>

            <v-col class="dsp_block_menu" cols="3">
              <v-menu>
                <template v-slot:activator="{ on }">
                  <v-btn v-on="on">
                    <v-btn>
                      <img class="dots_menu" src="../assets/icon/burgermenu.png" alt />
                    </v-btn>
                  </v-btn>
                </template>

                <v-list>
                  <v-list-title click>
                    <v-btn text block to="/" value="competitions" class="btn_mobile">
                      <img :src="contestsImg" /><span>Конкурсы</span>
                    </v-btn>
                  </v-list-title>
                  <v-list-title class="list_title">
                    <v-btn text block to="/questions" value="nearby" class="btn_mobile">
                      <img :src="questionsImg" /><span>Тесты</span>
                    </v-btn>
                  </v-list-title>
                  <v-list-title class="list_title">
                    <v-btn text block to="/rating" value="rating" class="btn_mobile">
                      <img :src="ratingImg" /><span>Рейтинг</span>
                    </v-btn>
                  </v-list-title>
                  <v-list-title class="list_title">
                    <v-btn text block to="/reference" value="questions" class="btn_mobile">
                      <img :src="rulesImg" /><span class="rules_btn">Правила</span>
                    </v-btn>
                  </v-list-title>

                  
                </v-list>
              </v-menu>
            </v-col>

            <v-col cols="4" sm="3" md="3" lg="3" xs="3" xl="3" class="mobile_link_app_pt">
              <v-row style="display: flex;">
                <v-col
                  cols="12"
                  sm="12"
                  md="6"
                  lg="6"
                  xs="6"
                  xl="6"
                  style="padding: 0;text-align: center;"
                >
                  <v-btn to="/" value="competitions">
                    <img class="mobile_link_app" src="@/assets/icon/gplay.png" />
                  </v-btn>
                </v-col>
                <v-col
                  cols="12"
                  sm="12"
                  md="6"
                  lg="6"
                  xs="6"
                  xl="6"
                  style="padding: 0;text-align: center;"
                >
                  <v-btn to="/rating" value="rating">
                    <img class="mobile_link_app" src="@/assets/icon/ios.png" />
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="1" sm="1" md="1" lg="1" xs="1" xl="1">
              <share :path="path"></share>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <login-modal :show="login" @close="login = false;"></login-modal>
  </v-bottom-navigation>
</template>

<script>
import LoginModal from "@/components/Authorization/LoginModalComponent.vue";
import Share from "@/components/Share.vue";

export default {
  components: {
    LoginModal,
    Share
  },
  data: () => ({
    login: false,
    btnColor: false,
    btn_desktop: 'btn_desktop',
  }),
  methods: {
    profile() {
      if (localStorage.getItem("token")) {
        this.$router.push(`/profile`);
      } else {
        this.$router.push(`/login`);
      }
    },
  },
  computed: {
    path() {
      return window.location.href;
    },
    userImg(){
      if (localStorage.getItem("avatar") && localStorage.getItem("avatar") != "undefined" ) {
        return localStorage.getItem("avatar");
      }
      return require('@/assets/user.svg');
    },
    ratingImg() {
      if (this.$route.path.includes('rating')) {
        return require('@/assets/icon/red_rating.png');
      }
      return require('@/assets/rating.svg');
    },
    questionsImg() {
      if (this.$route.path.includes('questions')) {
        return require('@/assets/icon/red_test.png');
      }
      return require('@/assets/dialog.svg');
    },
    contestsImg() {
      if (this.$route.path.includes('competition') || this.$route.path.includes('category') || this.$route.path == '/') {
        return require('@/assets/icon/red_concurs.png');
      }
      return require('@/assets/cup.svg');
    },
    rulesImg() {
      if (this.$route.path.includes('rules')) {
        return require('@/assets/question.png');
      }
      return require('@/assets/question.png');
    }
  }
};
</script>

<style scoped>
.user{
  padding-top: 5px;
}
.img_header_icon {
  height: 24px;
  width: 24px;
}
.v-bottom-navigation .v-btn:not(.v-btn--round).v-size--default {
  height: auto;
}
.v-bottom-navigation--fixed {
  top: 0;
}
.dots_menu {
  width: 35px;
}
.txt_center {
  text-align: center;
}
.mobile_link_app_pt{
  padding: 10px 0px 0px 0px;
}
.mobile_link_app{
  width: 95%;
}
.btn_desktop{
  background-color: #ccc;
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .dsp_block_menu {
    display: none;
  }
  .mobile_link_app{
    width: 85%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .mobile_link_app{
    width: 80%;
  }
  .mobile_link_app_pt{
    padding: 0px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .mobile_link_app {
    width: 70px;
  }
  
}

@media only screen and (max-width: 600px) {
  .dsp_none {
    display: none;
  }
  .dsp_block_menu {
    display: block;
  }
  .list_title {
    display: block;
  }
  .btn_mobile{
    justify-content: flex-start!important;
  }
  .rules_btn{
    padding-left: 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .mobile_link_app_pt{
    padding: 5px;
  } 
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .dsp_block_menu {
    display: none;
  }
}
</style>