<template>
  <v-row justify="center">
    <v-dialog v-model="show" max-width="290" @click:outside="$emit('close')">
      <v-card>
        <v-card-title class="headline">Use Google's location service?</v-card-title>

        <v-card-text>{{ errorText }}</v-card-text>

        <v-card-actions>
          <v-btn color="red" @click="$emit('close')">Закрыть</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: ["errorText", "show"]
};
</script>

<style>
</style>