<template>
  <v-row>
    <v-col cols="8">
      <v-carousel cycle height="30" hide-delimiter-background :show-arrows="false">
        <v-carousel-item v-for="(user, i) in data.userList" :key="i">
          <v-avatar v-if="user" size="25px">
            <img :src="user.avatar" />
          </v-avatar>
          <span v-if="user">
            {{ user.name }}: {{ user.rating }}
            <points-symbol></points-symbol>
          </span>
        </v-carousel-item>
      </v-carousel>
    </v-col>
    <v-col cols="4" style="text-align: right;">
      <v-icon>mdi-account-group</v-icon>
      {{ data.activity }}
    </v-col>
  </v-row>
</template>

<script>
export default {
  created() {
    this.$http
      .get(`${this.$store.getters.endpoint}/today/list`)
      .then(response => {
        this.data = response.data;
      });
  },
  data() {
    return {
      data: {
        userList: [],
        activity: 0
      }
    };
  }
};
</script>

<style>
</style>