<template>
  <v-card class="elevation-8" style="width: 100%;">
    <v-card-text>
      <v-container>
        <feed></feed>
        <menu-component></menu-component>
        <ads></ads>
        <transition-group name="fade">
          <v-row
            align="center"
            justify="center"
            v-for="(category, index) in competitions"
            :key="index"
          >
            <v-container>
              <v-row align="center" justify="center">
                <v-col cols="12" sm="12" md="12">
                  <span class="category_descr">
                    <img class="fire_img" :src="category.image" alt />
                    <b>{{ category.name }}</b>
                  </span>
                </v-col>
              </v-row>
              <v-row align="center" justify="center">
                <v-col
                  cols="12"
                  sm="6"
                  md="3"
                  v-for="competition in category.list"
                  :key="competition.id"
                >
                  <card :competition="competition"></card>
                </v-col>
              </v-row>
            </v-container>
          </v-row>
        </transition-group>
      </v-container>
    </v-card-text>
    <v-card-actions></v-card-actions>
  </v-card>
</template>

<script>
import ads from "@/components/AdsComponent.vue";
import card from "@/components/Competition/CompetitionCardComponent.vue";
import feed from "@/components/Line.vue";
import MenuComponent from "@/components/CategoriesMenuComponent.vue";
export default {
  components: {
    ads,
    card,
    MenuComponent,
    feed
  },
  created() {
    if (this.$store.getters.categories.length == 0) {
      this.$http
        .get(`${this.$store.getters.endpoint}/categories`)
        .then(response => this.$store.commit("setCategories", response.data))
        .catch(error => console.error(error.response.data));
    }

    this.$http
      .get(`${this.$store.getters.endpoint}/main/list`)
      .then(response => (this.competitions = response.data[0]))
      .catch(error => console.error(error.response.data.title));
  },
  data() {
    return {
      competitions: []
    };
  },
  methods: {}
};
</script>

<style>
.category_descr{
  display: flex;
  align-items: center;
}
.category_descr>b{
  font-weight: 900;
  padding-left: 5px;
  padding-top: 3px;
}
.img_icon_style {
  width: 100%;
}
.img_icon {
  height: 35px;
  width: 35px;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 7px;
}
.catergoy_pos {
  font-size: 10px;
  text-align: center;
  color: #000;
  padding-top: 8px;
}
.category_block {
  height: 50px;
  width: 55px;
  background-color: #fff;
  border-radius: 25px;
  margin: auto;
}
.cols_style {
  padding: 15px 10px;
  margin: 0px 5px;
}
.cols_style > a {
  text-decoration: none;
}
.pos_icons_block {
  padding: 15px 0px 30px 0px;
}
.fire_img {
  height: 25px;
  margin-right: 5px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 600px) {
  .profile_title > h3 {
    margin: auto;
  }
  .profile_subtitle {
    text-align: center;
  }
  .dsp_none {
    display: none;
  }
  .txt_center {
    text-align: center;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
</style>