<template>
<v-container>
<v-col cols="12" md="12" sm="12">
    <v-row>
      <v-col cols="12" md="4" sm="4">
        <h2 class="rating_descr_h2">Рейтинг</h2>
      </v-col>
    </v-row>
    <v-row class="rating_descr_select_wrapper">
      <v-col class="d-flex" cols="12" sm="12" md="12" lg="12" xl="12">
        <v-select
          v-model="period"
          :items="items"
          item-value="value"
          item-text="title"
          label="За все время"
          solo
        ></v-select>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="4" md="4" sm="4" class="rating_low order_2" v-if="rating[1]">
          <div class="avatar_number">
            <v-col cols="12" md="12" sm="12" class="avatar_number_descr">2</v-col>
          </div>
        <v-row>
          <v-col cols="12" md="12" sm="12" class="avatar_img">
            <router-link :to="`/profile/${rating[1].user.id}`">
              <v-avatar size="80px" class="top-avatar">
                <img v-if="rating[1].user.avatar" alt="Avatar" :src="rating[1].user.avatar" />
              </v-avatar>
            </router-link>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="12" sm="12" class="avatar_name">{{ rating[1].user.name }}</v-col>
        </v-row>
        <v-row class="avatar_rating_wrapper">
          <v-col cols="12" md="12" sm="12" class="avatar_rating">
            {{ rating[1].rating }}
            <points-symbol style="width: 13px;"></points-symbol>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="4" md="4" sm="4" class="rating_win order_1">
        <v-row class="avatar_number">
          <v-col cols="12" md="12" sm="12" class="avatar_number_descr">1</v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="12" sm="12" class="avatar_img">
            <router-link :to="`/profile/${rating[0].user.id}`">
              <v-avatar size="120px" class="top-avatar">
                <img v-if="rating[0].user.avatar" alt="Avatar" :src="rating[0].user.avatar" />
              </v-avatar>
            </router-link>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="12" sm="12" class="avatar_name_win">{{ rating[0].user.name }}</v-col>
        </v-row>
        <v-row class="avatar_rating_wrapper_win">
          <v-col cols="12" md="12" sm="12" class="avatar_rating_win">
            {{ rating[0].rating }}
            <points-symbol style="width: 18px;"></points-symbol>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="4" md="4" sm="4" class="rating_low order_3" v-if="rating[2]">
        <v-row class="avatar_number">
          <v-col cols="12" md="12" sm="12" class="avatar_number_descr">3</v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="12" sm="12" class="avatar_img">
            <router-link :to="`/profile/${rating[2].user.id}`">
              <v-avatar size="80px" class="top-avatar">
                <img v-if="rating[2].user.avatar" alt="Avatar" :src="rating[2].user.avatar" />
              </v-avatar>
            </router-link>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="12" sm="12" class="avatar_name">{{ rating[2].user.name }}</v-col>
        </v-row>
        <v-row class="avatar_rating_wrapper">
          <v-col cols="12" md="12" sm="12" class="avatar_rating">
            {{ rating[2].rating }}
            <points-symbol style="width: 13px;"></points-symbol>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row class="people_ratings_wrapper">
      <v-col
        class="people_ratings"
        cols="12"
        md="12"
        sm="12"
        v-for="(row, index) in nonTop"
        :key="index"
      >
        <v-row class="elevation-6">
          <v-col class="people_ratings_number" cols="12" md="1" sm="2">{{ index+4 }}</v-col>
          <v-col cols="12" md="1" sm="2" class="avatar_pos">
            <router-link :to="`/profile/${row.user.id}`">
              <v-avatar size="25px">
                <img v-if="row.user.avatar" class="avatar_img" alt="Avatar" :src="row.user.avatar" />
              </v-avatar>
            </router-link>
          </v-col>
          <v-col class="people_ratings_name" cols="12" md="7" sm="5">{{ row.user.name }}</v-col>
          <v-col class="people_ratings_rating" cols="12" md="1" sm="3">
            {{ row.rating }}
            <points-symbol></points-symbol>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-col>
</v-container>
</template>

<script>
export default {
  data() {
    return {
      rating: [
        {
          user_id: 0,
          user: { name: "Loading", avatar: "/icUser.png" }
        }
      ],
      period: null,
      items: [
        {
          title: "All",
          value: "all"
        },
        {
          title: "Today",
          value: "today"
        },
        {
          title: "Week",
          value: "week"
        },
        {
          title: "Month",
          value: "month"
        }
      ]
    };
  },
  created() {
    this.fetch();
  },
  methods: {
    fetch() {
      this.$http
        .get(`${this.$store.getters.endpoint}/rating`, {
          params: {
            range: this.period
          }
        })
        .then(response => (this.rating = response.data));
    }
  },
  watch: {
    period(newValue) {
      this.fetch(newValue);
    }
  },
  computed: {
    nonTop() {
      let temp = [];
      let i = 0;
      for (const element of this.rating) {
        if (i > 2) temp.push(element);
        i = i + 1;
      }
      return temp;
    }
  }
};
</script>

<style scoped>
@font-face {
  font-family: "Circe-Bold";
  src: url("~@/assets/fonts/CircleBold/Circe-Bold_0.ttf") format("ttf");
}
.people_ratings_name,
.people_ratings_rating {
  font-size: 18px;
  color: #262346;
  font-family: "Circe-Bold", sans-serif;
}
.people_ratings_number {
  font-size: 18px;
  color: #2f3b92;
  font-family: "Circe-Bold", sans-serif;
}
.rating_descr_select_wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 45px;
}
.rating_descr_h2,
.rating_descr_select {
  color: #262346;
  font-family: "Circe-Bold", sans-serif;
}
.rating_descr_h2 {
  font-size: 48px;
}
.rating_descr_select {
  font-size: 16px;
}
.avatar_rating,
.avatar_name,
.avatar_img,
.avatar_rating_win,
.avatar_name_win {
  text-align: center;
}
.avatar_number,
.avatar_rating,
.avatar_name {
  font-family: "Circe-Bold", sans-serif;
}

.top-avatar > img {
  margin: auto !important;
  width: unset !important;
}

.top-avatar {
  background: #fff;
  display: flex !important;
  margin: 0 auto;
  justify-content: center;
}

.rating_win {
  height: 400px;
  width: 430px;
  background-color: #2f3b92;
  border-radius: 5px;
  padding-top: 15px;
  text-align: center;
}
.rating_low {
  height: 350px;
  width: 370px;
  margin-top: 50px;
  background-color: #f1f3ff;
  border-radius: 10px;
  text-align: center;
}

.avatar_number {
  display: inline-block;
  border: 1px solid #fbfbfb;
  background-color: #fbfbfb;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  margin-left: 1px;
}
.avatar_number {
  display: flex;
  justify-content: flex-start;
}
.v-application p {
  margin-bottom: 0px;
}
.rating_descr_select_img {
  text-align: center;
  cursor: pointer;
}

.people_ratings_rating{
  display: flex;
  justify-content: space-around;
}

.avatar_rating_wrapper {
  border: 1px solid #ffbc36;
  background-color: #ffbc36;
  display: inline-block;
  border-radius: 12px;
  color: #fff;
}
.avatar_rating {
  padding: 5px 35px;
}
.avatar_name_win,
.avatar_rating_win {
  font-size: 21px;
  color: #fff;
}
.avatar_name,
.avatar_rating {
  font-size: 16px;
}
.avatar_rating_wrapper_win {
  border: 1px solid #ffbc36;
  background-color: #ffbc36;
  display: inline-block;
  border-radius: 12px;
  padding: 0px 25px;
  color: #fff;
}
.v-avatar > img {
  margin-left: -25px;
}
.avatar_name_win {
  padding-top: 50px;
}
.avatar_rating_win {
  padding: 5px 10px;
}
.avatar_number {
  width: 40px;
  height: 40px;
}
.avatar_number_descr {
  font-size: 24px;
  padding: 2px 12px;
}
.people_ratings {
  padding: 10px 150px 10px 150px;
}
/* .people_ratings_wrapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  border-radius: 5px;
} */
.people_ratings_wrapper{
  padding-top: 40px;
}
.avatar_name {
  padding-top: 55px;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
  .order_1 {
    order: 2;
  }
  .order_2 {
    order: 1;
  }
  .order_3 {
    order: 3;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .avatar_pos{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .avatar_rating{
    padding: 5px 15px;
  }
  .avatar_rating_win{
    font-size: 21px;
  }
  .avatar_rating_wrapper_win{
    padding: 0;
  }
  .avatar_number_descr{
    font-size: 14px;
    margin-top: -3px;
    padding: 0px 3px;
  }
  .avatar_number{
    width: 15px;
    height: 15px;
  }
  .top-avatar{
    height: 65px!important;
    width: 100%!important;
    min-width: 100%!important;
  }
  .avatar_rating_wrapper_win{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rating_win{
    height: 250px;
  }

  .avatar_name_win{
    padding-top: 5px;
  }
  .avatar_name{
    padding-top: 5px;
  }
  .rating_low{
    height: 200px;
  }
  .people_ratings {
    padding: 0;
  }
  .people_ratings_rating{
    padding: 0;
  }
  .people_ratings_number {
    padding: 0;
  }
  .people_ratings_name {
    text-align: center;
  }
  .v-avatar{
    display: flex;
    justify-content: center;
  }
  .v-avatar > img{
    margin-left: 0;
    width: 50px;
    height: 50px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
</style>