<!-- TODO: add key for label -->
<template>
    <v-select
            style="width: 25%; margin: auto;"
            :items="$store.getters.languages"
            item-text="value"
            item-value="lang"
            menu-props="auto"
            hide-details
            @change="getLanguage"
            label="Select language"
            single-line
    ></v-select>
</template>

<script>
    export default {
        methods:{
            getLanguage(e){
                this.$http.get(`${this.$store.getters.endpoint}/keys/${e}`)
                    .then( response => {
                        this.$store.commit('setKeys', response.data);
                    })
            },
        }
    }
</script>