<template>
  <div>
    <navigator-share
            v-bind:on-error="showAlert"
            v-bind:on-success="triggerShared"
            :url="path"
            title=""
            text=""
    >
      <template v-slot:clickable>
        <v-btn
              :block="question"
              :text="!question"
              :color="question ? 'primary' : ''"
        >
          <slot name="text"></slot>
          <v-icon>mdi-share</v-icon>
          <slot name="amount"></slot>
        </v-btn>
      </template>
    </navigator-share>

    <v-alert v-click-outside="onClickOutside" :value="alert" border="top" transition="scale-transition">
      <social-sharing
        @open="triggerShared"
        :url="path"
        inline-template
        style="text-align: center;"
      >
        <div>
          <network network="facebook">
            <i class="fa fa-fw fa-facebook"></i>
          </network>
          <network network="linkedin">
            <i class="fa fa-fw fa-linkedin"></i>
          </network>
          <network network="pinterest">
            <i class="fa fa-fw fa-pinterest"></i>
          </network>
          <network network="reddit">
            <i class="fa fa-fw fa-reddit"></i>
          </network>
          <network network="twitter">
            <i class="fa fa-fw fa-twitter"></i>
          </network>
          <network network="vk">
            <i class="fa fa-vk"></i>
          </network>
          <network network="weibo">
            <i class="fa fa-weibo"></i>
          </network>
          <network network="whatsapp">
            <i class="fa fa-fw fa-whatsapp"></i>
          </network>
        </div>
      </social-sharing>
    </v-alert>
  </div>
</template>

<script>
  import NavigatorShare from 'vue-navigator-share'
  import vClickOutside from 'v-click-outside'

  export default {
  props: ["path", "question"],
  directives: {
    clickOutside: vClickOutside.directive
  },
  data() {
    return {
      alert: false,
      timeOpened: 0,
      timer: {}
    };
  },
  components: {
    NavigatorShare
  },
  methods:{
    triggerShared(){
      this.$emit('shared');
    },
    showAlert(){
      this.alert = true;
      this.timer = setInterval(() => {
        this.timeOpened += 1;
      }, 500);
    },
    onClickOutside () {
      if(this.alert && this.timeOpened > 1){
        this.alert = false;
        this.timeOpened = 0;
        clearInterval(this.timer);
        this.timer = {};
      }
    }
  }
};
</script>

<style>
.v-alert {
  position: absolute !important;
  font-size: xx-large !important;
  right: 10%;
  z-index: 2;
}
.fa-facebook{
  color: #3b5898;
  cursor: pointer;
}
.fa-pinterest{
  color: #c92619;
  cursor: pointer;
}
.fa-linkedin{
  color: #3371b7;
  cursor: pointer;
}
.fa-reddit{
  color: #e74a1e;
  cursor: pointer;
}
.fa-twitter{
  color: #4da7de;
  cursor: pointer;
}
.fa-vk{
  color: #5a7fa6;
  cursor: pointer;
}
.fa-weibo{
  color: #e31c34;
  cursor: pointer;
}
.fa-whatsapp{
  color: #20B038;
  cursor: pointer;
}

</style>>