<template>
  <v-col>
    <v-row>
      <h2 class="oferts_descr_h2">Terms & Conditions</h2>
    </v-row>
    <v-card>
      <v-card-text v-html="text"></v-card-text>
    </v-card>
  </v-col>
</template>
<script>
export default {
  data() {
    return {
      text: ""
    };
  },
  created() {
    this.$http.get(`${this.$store.getters.endpoint}/terms`).then(response => {
      this.text = response.data.text;
    });
  }
};
</script>
<style scoped>
.oferts_descr_h2 {
  font-family: "Circe-Bold", sans-serif;
  color: #262346;
}
</style>