<template>
  <v-col cols="12" md="12" sm="12">
    <v-card class="elevation-8">
      <v-card-text>
        <img style="width: 100%" :src="set.img" />
        <v-container class="fill-height" fluid>
          <v-row>
            <v-col cols="12" md="12" sm="12">
              <v-card-title>{{ set.name }}</v-card-title>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6" sm="6" class="dsp_icons_card" style="padding-left: 10px;">
              <img src="@/assets/user.svg" alt />
              {{ set.peopleCompleted }} {{ $store.getters.keys['participants'] }}
            </v-col>
            <v-col cols="12" md="6" sm="6" style="display: flex; justify-content: flex-end">
              <div class="point_descr">
                {{ formattedSum }}
                <points-symbol></points-symbol>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6" sm="6" class="dsp_icons_card">
              <img src="@/assets/icon/notes_s.png" alt />
              {{ $store.getters.keys['questions'] }}
            </v-col>
            <v-col cols="12" md="6" sm="6" style="text-align: end;">{{ set.amountQuestion }}</v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6" sm="6" class="dsp_icons_card">
              <img src="@/assets/icon/clock.png" alt />
              {{ $store.getters.keys['test_time'] }}
            </v-col>
            <v-col
              cols="12"
              md="6"
              sm="6"
              style="text-align: end;"
            >{{ set.time_amount }} {{ $store.getters.keys['seconds'] }}</v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="12" sm="12">
              <v-btn
                @click="start"
                style="width: 100%"
                color="success"
                v-if="!set.completed"
              >{{ $store.getters.keys['start'] }}</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions></v-card-actions>
    </v-card>
    <login-modal :show="login" @close="login = false"></login-modal>
  </v-col>
</template>

<script>
import LoginModal from "@/components/Authorization/LoginModalComponent.vue";

export default {
  components: {
    LoginModal
  },
  metaInfo() {
    return {
      title: this.set.name,
      meta: [
        {
          property: "og:title",
          content: this.set.name
        },
        {
          property: "og:image",
          content: this.set.image
        },
        {
          property: "og:description",
          content: this.set.name
        }
      ]
    };
  },
  data() {
    return {
      set: {
        amountQuestion: 0,
        company_id: 0,
        completed: true,
        created_at: "2019-11-26 23:09:14",
        id: 0,
        image: require("@/assets/loader.svg"),
        img: require("@/assets/loader.svg"),
        name: "Loading",
        peopleCompleted: 0,
        price: "0",
        sum: "0",
        time_amount: 0
      },
      share: false,
      login: false
    };
  },
  created() {
    this.$http
      .get(`${this.$store.getters.endpoint}/questions/${this.$route.params.id}`)
      .then(response => (this.set = response.data))
      .catch(error => console.error(error.response.data));
  },
  methods: {
    start() {
      if (localStorage.getItem("token")) {
        this.$router.push(`/questions/${this.$route.params.id}/test`);
      } else {
        this.login = true;
      }
    }
  },
  computed: {
    formattedSum() {
      let digits = 4;
      let si = [
        { value: 1, symbol: "" },
        { value: 1e3, symbol: "k" },
        { value: 1e6, symbol: "M" },
        { value: 1e9, symbol: "G" },
        { value: 1e12, symbol: "T" },
        { value: 1e15, symbol: "P" },
        { value: 1e18, symbol: "E" }
      ];
      let rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
      let i;
      for (i = si.length - 1; i > 0; i--) {
        if (this.set.price >= si[i].value) {
          break;
        }
      }
      return (
        (this.set.price / si[i].value).toFixed(digits).replace(rx, "$1") +
        si[i].symbol
      );
    }
  }
};
</script>

<style scoped>
.dsp_icons_card {
  display: flex;
  align-items: center;
}
.dsp_icons_card > img {
  padding-right: 5px;
}
.v-responsive__content {
  width: 100% !important;
}
.cardFull {
  max-width: 50% !important;
  margin: auto;
}
.point_descr {
  background-color: #ffbc36;
  border-radius: 5px;
  padding: 0px 5px;
  color: #fff;
  font-size: 14px;
  font-family: "Circe-Bold", sans-serif;
}
</style>