<template>
  <router-link :to="`/questions/${set.id}`" class="card_td_none">
    <v-card style="max-width: 300px; margin: auto;" class="elevation-6 card_td_none">
      <v-img class="white--text align-end" max-height="200px" :src="set.img"></v-img>
      <v-card-title class="card_title">{{ set.name }}</v-card-title>
      <v-card-actions>
        <v-row>
          <v-col cols="6">
            <v-btn class="card_btn_style_people" style="text-align: end;" disabled text>
              <img class="user_img" width="20px" src="@/assets/icon/user.png" />
              {{ set.peopleCompleted }}
            </v-btn>
          </v-col>
          <v-col cols="6" style="text-align: right;">
            <v-btn class="card_btn_style_price" disabled text>
              {{ set.price }}
              <points-symbol></points-symbol>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </router-link>
</template>

<script>
export default {
  props: ["set"],
  computed: {
    formattedSum() {
      let digits = 4;
      let si = [
        { value: 1, symbol: "" },
        { value: 1e3, symbol: "k" },
        { value: 1e6, symbol: "M" },
        { value: 1e9, symbol: "G" },
        { value: 1e12, symbol: "T" },
        { value: 1e15, symbol: "P" },
        { value: 1e18, symbol: "E" }
      ];
      let rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
      let i;
      for (i = si.length - 1; i > 0; i--) {
        if (this.set.price >= si[i].value) {
          break;
        }
      }
      return (
        (this.set.price / si[i].value).toFixed(digits).replace(rx, "$1") +
        si[i].symbol
      );
    }
  }
};
</script>

<style scoped>

.card_td_none {
  text-decoration: none;
}
.card_title {
  color: #262346;
  font-size: 16px;
  font-family: "Circe-Bold", sans-serif;
}
/* .theme--light.v-btn.v-btn--disabled {
    color: #ccc !important;
} */
.card_btn_style_people {
  color: #fff !important;
}
.card_btn_style_price {
  background-color: #ffbc36;
  border-radius: 5px;
  padding: 0px 5px;
  font-size: 14px;
  font-family: "Circe-Bold", sans-serif;
}
.user_img {
  padding-right: 5px;
}
</style>