<template>
  <v-col cols="12" sm="12" md="12">
    <transition-group name="fade" class="row">
      <!-- <v-row> -->
      <v-col cols="12" sm="6" md="4" v-for="set in questions" :key="set.id">
        <card :set="set"></card>
      </v-col>
      <!-- </v-row> -->
    </transition-group>
  </v-col>
</template>

<script>
import Card from "@/components/Question/Card.vue";

export default {
  components: {
    Card
  },
  destroyed() {
    window.removeEventListener("scroll", this.onScroll);
  },
  created() {
    window.addEventListener("scroll", this.onScroll);
    this.getQuestions();
  },
  data() {
    return {
      questions: [],
      page: 1
    };
  },
  methods: {
    getQuestions() {
      this.questions = [];
      this.$http
        .get(`${this.$store.getters.endpoint}/questions`, {
          params: {
            page: 1
          }
        })
        .then(response => (this.questions = response.data.list))
        .catch(error => console.error(error.response.data));
    },
    setPage(page) {
      this.page = page;
    },
    onScroll() {
      if (document.body.clientHeight == window.scrollY + window.innerHeight) {
        this.setPage(this.page + 1);
        this.$http
          .get(`${this.$store.getters.endpoint}/questions`, {
            params: {
              page: this.page
            }
          })
          .then(response => {
            if (response.data.list.length != 0) {
              this.questions.push(...response.data.list);
            } else {
              this.setPage(this.page - 1);
            }
          })
          .catch(error => console.error(error.response.data));
      }
    }
  }
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>