<template>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-text style="text-align: center;">
          <v-row>
            <v-col cols="12">
              <img src="@/assets/Win.svg" />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <h1>{{ $store.getters.keys['you_won'] }}</h1>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-btn @click="shareNo" block>{{ $store.getters.keys['try_another_competition'] }}</v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <Share @shared="shareYes" :question="true">
                <template v-slot:text>{{ $store.getters.keys['share'] }}</template>
              </Share>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Share from "@/components/Share.vue";

export default {
  shareYes() {
    this.$http
      .post(
        `${this.$store.getters.endpoint}/questions/${this.$route.params.id}/yes`,
        {},
        {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token")
          }
        }
      )
      .then(() => {
        this.$router.push("/questions");
      });
  },
  shareNo() {
    this.$http
      .post(
        `${this.$store.getters.endpoint}/questions/${this.$route.params.id}/no`,
        {},
        {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token")
          }
        }
      )
      .then(() => {
        // this.$router.push('/questions');
      });
  },
  components: {
    Share
  }
};
</script>

<style>
</style>