<template>
  <v-col cols="12" md="12" sm="12">
    <v-card>
      <v-card-title>Вопросы:</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12" md="6" sm="6">{{ currentQuestionIndex+1 }}/{{ questions.length }}</v-col>
          <v-col
            cols="12"
            md="6"
            sm="6"
            style="text-align: right;"
          >00:{{ this.time > 10 ? this.time : `0${this.time}` }}</v-col>
        </v-row>
        <v-card v-if="currentQuestion">
          <v-row class="margin_auto_btns">
            <v-col cols="12" md="12" sm="12">
              <v-card-title>{{ currentQuestion.text }}</v-card-title>
            </v-col>
            <v-col
              cols="12"
              md="12"
              sm="12"
              v-for="(answer, index) in this.currentQuestion.answers"
              :key="index"
            >
              <v-btn
                :style="`width: 100%;${answers[currentQuestion.id] == answer.id ? 'background-color: red;' : ''}`"
                @click="check(answer)"
              >{{ answer.text }}</v-btn>
            </v-col>
          </v-row>
          <v-row class="margin_auto_btns">
            <v-col cols="12" md="6" sm="6">
              <v-btn style="width: 100%" @click="back" :disabled="currentQuestionIndex == 0">{{ $store.getters.keys['back'] }}</v-btn>
            </v-col>
            <v-col cols="12" md="6" sm="6">
              <!-- TODO: Add key -->
              <v-btn
                style="width: 100%"
                @click="forward"
                v-if="currentQuestionIndex != questions.length -1"
              >Далее</v-btn>
              <!-- TODO: Add key -->
              <v-btn
                style="width: 100%"
                @click="finish"
                v-if="currentQuestionIndex == questions.length -1"
                :disabled="!allAnswered"
              >Завершить</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-card-text>
    </v-card>
  </v-col>
</template>

<script>
export default {
  data() {
    return {
      questions: [],
      answers: {},
      currentQuestionIndex: 0,
      time: 0,
      sendData: {},
      timeout: {}
    };
  },
  computed: {
    currentQuestion() {
      if (this.questions.length > 0) {
        return this.questions[this.currentQuestionIndex];
      }
      return false;
    },
    allAnswered() {
      for (const question in this.answers) {
        if (this.answers[question] == -1) {
          return false;
        }
        return true;
      }
      return false;
    }
  },
  methods: {
    check(answer) {
      this.answers[this.currentQuestion.id] = answer.id;
      if (this.currentQuestionIndex < this.questions.length - 1) {
        this.currentQuestionIndex += 1;
      }
    },
    back() {
      this.currentQuestionIndex -= 1;
    },
    forward() {
      this.currentQuestionIndex += 1;
    },
    finish() {
      clearInterval(this.timeout);
      this.sendData = {
        answers: this.answers,
        time_amount: this.time
      };
      this.$http
        .post(
          `${this.$store.getters.endpoint}/questions/site/finish/${this.$route.params.id}`,
          this.sendData,
          {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`
            }
          }
        )
        .then(response => {
          if (response.data.win) {
            this.$router.push(`/questions/${this.$route.params.id}/win`);
          } else {
            this.$router.push(`/questions/${this.$route.params.id}/lose`);
          }
        });
    }
  },
  // watch: {
  //   answers:{
  //     deep: true,
  //     handler(newValue) {
  //       for (const question in newValue) {
  //         if (newValue[question] == -1) {
  //           return false;
  //         }
  //         return this.finish();
  //       }
  //     }
  //   }
  // },
  created() {
    this.$http
      .post(
        `${this.$store.getters.endpoint}/question/start/${this.$route.params.id}`,
        {},
        {
          params: {
            site: 1
          },
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`
          }
        }
      )
      .then(response => {
        this.questions = response.data.list;
        this.time = response.data.time;
        this.questions.forEach(question => {
          this.$set(this.answers, question.id, -1);
        });
        this.timeout = setInterval(() => {
          this.time = this.time - 1;
          if (this.time == 0) {
            this.finish();
          }
        }, 1000);
      })
      .catch(error => {
        if (error.response.status == 401) {
          this.$router.go(-1);
        }
      });
  }
};
</script>

<style>
.margin_auto_btns {
  margin: auto;
}
</style>