<template>
  <v-app id="inspire">
    <header-component></header-component>
    <v-content style="margin-top: 56px;">
      <v-container fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="12" md="8" lg="6" xl="6">
            <v-row>
              <transition name="fade">
                <router-view />
              </transition>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <footer-component></footer-component>
  </v-app>
</template>

<script>
import headerComponent from "@/components/header.vue";
import footerComponent from "@/components/footer.vue";

export default {
  props: {
    source: String
  },
  components: {
    headerComponent,
    footerComponent
  },
  created() {
    this.getLangs();
  },
  methods: {
    getSubdomain(hostname) {
      // eslint-disable-next-line
      var regexParse = new RegExp("[a-z-0-9]{2,63}.[a-z.]{2,5}$");
      var urlParts = regexParse.exec(hostname);
      return hostname.replace(urlParts[0], "").slice(0, -1);
    },
    getLangs() {
      if (this.$store.getters.languages.length == 0) {
        this.$http
          .get(`${this.$store.getters.endpoint}/keys`)
          .then(response => {
            this.$store.commit("setLanguages", response.data);
            let sub = this.getSubdomain(window.location.hostname);
            if (
              sub == "" ||
              this.$store.getters.languages.filter(element => {
                element.lang == sub;
              }).length == 0
            ) {
              sub = "ru";
            }
            this.$http
            .get(`${this.$store.getters.endpoint}/keys/${sub}`)
            .then(keys => {
              this.$store.commit("setKeys", keys.data);
            });
          });
      }
    }
  }
};
</script>

<style lang="scss">
.v-application .primary {
  background-color: #fc5462 !important;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>