<template>
  <v-card>
    <v-card-text>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="6" md="8">
          <v-avatar size="36px">
            <img :src="comment.user.avatar" />
          </v-avatar>
          <strong v-html="comment.user.name"></strong>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          md="4"
          style="display: flex;justify-content: flex-end;align-items: center;"
        >
          <div>{{ moment.unix(comment.created_at).fromNow() }}</div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="12" md="12">{{ comment.message }}</v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: ["comment"]
};
</script>

<style>
</style>