<template>
  <div>
    <v-card>
      <v-card-title>
        <router-link :to="'/competition/'+work.competition_id">{{ work.competitionName }}</router-link>
      </v-card-title>
      <v-card-text>
        <work :work="work"></work>
        <v-row v-if="!checkToken">
          <v-col cols="12" class="comment_log">
            <span>Please log in to post the comment</span>
          </v-col>
        </v-row>
        <v-row v-if="checkToken">
          <v-col cols="12">
            <v-form @submit="validate" ref="form" v-model="valid" :lazy-validation="lazy">
              <v-text-field
                v-model="text"
                :auto-grow="true"
                :clearable="true"
                :counter="true"
                placeholder="Comment"
                :solo="true"
                :rules="[rules.required, rules.counter]"
                prepend-inner-icon="mdi-comment-text-outline"
              >
                <template slot="append">
                  <v-btn type="submit">
                    <v-icon>mdi-send</v-icon>
                  </v-btn>
                </template>
              </v-text-field>
            </v-form>
          </v-col>
        </v-row>
        <v-row v-for="(comment, index) in comments" :key="index">
          <v-col cols="12">
            <comment :comment="comment"></comment>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import work from "@/components/Work/WorkCardComponent.vue";
import comment from "@/components/Work/Comment.vue";

export default {
  components: {
    work,
    comment
  },
  data() {
    return {
      work: {},
      comments: [],
      rules: {
        required: value => !!value || "Required.",
        counter: value => value.length <= 200 || "Max 200 characters"
      },
      text: ""
    };
  },
  created() {
    let data = {};
    if (localStorage.getItem("token")) {
      data.headers = {
        Authorization: "Bearer " + localStorage.getItem("token")
      };
    }
    this.$http
      .get(
        `${this.$store.getters.endpoint}/work/${this.$route.params.id}`,
        data
      )
      .then(response => {
        this.work = response.data;
      });
    this.getComments();
  },
  computed: {
    checkToken() {
      if (localStorage.getItem("token")) {
        return true;
      }
      return false;
    }
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.sendComment();
      }
    },
    getComments() {
      this.comments = [];
      this.$http
        .get(
          `${this.$store.getters.endpoint}/works/${this.$route.params.id}/comments`,
          {
            headers: {
              Authorization: "Bearer " + localStorage.getItem("token")
            }
          }
        )
        .then(response => {
          this.comments = response.data.list;
        });
    },
    sendComment() {
      this.$http
        .post(
          `${this.$store.getters.endpoint}/works/${this.$route.params.id}/comments`,
          {
            message: this.text
          },
          {
            headers: {
              Authorization: "Bearer " + localStorage.getItem("token")
            }
          }
        )
        .then(() => {
          this.getComments();
        });
    }
  }
};
</script>

<style>
.comment_log > span {
  display: flex;
  justify-content: center;
  font-size: 17px;
  color: blueviolet;
}
</style>