<template>
  <v-card class="elevation-8">
    <v-card-title class="work_list_title">Заявки участников</v-card-title>
    <v-card-text>
      <v-container>
        <transition-group name="fade">
          <work
            v-for="(work, index) in works"
            :liked="liked"
            :finished="finished"
            :work="work"
            :key="index"
            @like="liked=true"
          ></work>
        </transition-group>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import work from "@/components/Work/WorkCardComponent.vue";
export default {
  destroyed() {
    window.removeEventListener("scroll", this.onScroll);
  },
  components: {
    work
  },
  data() {
    return {
      page: 0,
      works: [],
      liked: true,
      finished: true
    };
  },
  props: ["competitionId"],
  created() {
    this.getData();
    window.addEventListener("scroll", this.onScroll);
  },
  methods: {
    getData() {
      let data = {
        params: {
          page: this.page + 1
        }
      };
      if (localStorage.getItem("token")) {
        data.headers = {
          Authorization: "Bearer " + localStorage.getItem("token")
        };
      }
      this.$http
        .get(
          `${this.$store.getters.endpoint}/competition/${this.competitionId}/works`,
          data
        )
        .then(response => {
          this.page = parseInt(response.data.page);
          this.works.push(...response.data.list);
          this.liked = response.data.liked;
          this.finished = response.data.finished;
        });
    },
    onScroll() {
      if (document.body.clientHeight == window.scrollY + window.innerHeight) {
        this.getData();
      }
    }
  }
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.work_list_title{
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}
</style>