<template>
  <div>
    <v-menu>
      <template v-slot:activator="{ on: menu }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on: tooltip }">
            <v-btn text v-on="{ ...tooltip, ...menu }">...</v-btn>
          </template>
          <span></span>
        </v-tooltip>
      </template>
      <v-list>
        <v-list-item v-for="(item, index) in items" :key="index">
          <v-list-item-title @click="action(item.action)">{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <login-modal :show="login" @close="login = false"></login-modal>
    <report-modal :show="reportModal" @close="reportModal = false"></report-modal>
  </div>
</template>

<script>
import LoginModal from "@/components/Authorization/LoginModalComponent.vue";
import ReportModal from "@/components/ReportModalComponent.vue";

export default {
  components: {
    LoginModal,
    ReportModal
  },
  props: ["work", "own"],
  data() {
    return {
      login: false,
      reportModal: false
    };
  },
  methods: {
    action(function_name) {
      this[function_name](this.id);
    },
    report() {
      if (!localStorage.getItem("token")) {
        this.login = true;
        return;
      }
      this.reportModal = true;
    },
    blacklist() {
      if (!localStorage.getItem("token")) {
        this.login = true;
        return;
      }
      this.$http
        .get(`${this.$store.getters.endpoint}/add/blacklist`, {
          params: {
            user_id: this.work.user.id
          },
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token")
          }
        })
        .then(() => {
          this.$emit("blacklist");
        })
        .catch(error => {
          console.log(error.response.data);
        });
    },
    delete() {
      this.$http
        .delete(`${this.$store.getters.endpoint}/works/${this.work.id}`)
        .then(() => {
          this.$emit("delete", this.work.id);
        });
    }
  },
  computed: {
    items() {
      if (this.own) {
        return [
          {
            title: "Delete",
            action: "delete"
          }
        ];
      } else {
        return [
          {
            title: "Чёрный список",
            action: "blacklist"
          },
          {
            title: "Жалоба",
            action: "report"
          }
        ];
      }
    }
  }
};
</script>

<style>
</style>