<template>
  <v-row justify="center">
    <v-dialog v-model="show" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="$emit('close')">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-container class="fill-height" fluid>
          <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="7">
              <v-file-input
                :disabled="competition.type_id == 2"
                v-model="data.file"
                :accept="type"
                label="Upload your work"
              ></v-file-input>
              <v-textarea
                v-model="data.description"
                :auto-grow="true"
                :clearable="true"
                :counter="true"
                placeholder="Text"
                :solo="true"
                :rules="[rules.required, rules.counter]"
              ></v-textarea>
              <v-btn @click="verify">Compete!</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar" :bottom="true" :timeout="1000">
      {{ text }}
      <v-btn dark text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-row>
</template>

<script>
export default {
  props: ["show", "competition"],
  data() {
    return {
      data: {
        file: null,
        description: ""
      },
      snackbar: false,
      text: "",
      rules: {
        required: value => !!value || "Required.",
        counter: value => value.length <= 2000 || "Max 20 characters"
      }
    };
  },
  computed: {
    type() {
      switch (this.competition.type_id) {
        case 1:
          return "image/*";
        case 2:
          return false;
        case 3:
          return "video/*";
        case 4:
          return "audio/*";
      }
      return false;
    }
  },
  methods: {
    verify() {
      if (this.data.description.length == 0) {
        this.text = "Please input description";
        this.snackbar = true;
        return false;
      }
      if (this.data.description.length > 2000) {
        this.text = "Description is too long! Please, shorten to 2000 symbols";
        this.snackbar = true;
        return false;
      }
      this.send();
    },
    send() {
      let form_data = new FormData();

      if (this.competition.type_id != 2) {
        form_data.append("file", this.data.file);
      }
      form_data.append("description", this.data.description);

      this.$emit("upload", form_data);
    }
  }
};
</script>

<style>
</style>