<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" md="8">
        <router-link :to="`/profile/${work.user.id}`">
          <v-avatar size="36px">
            <img :src="work.user.avatar" />
          </v-avatar>
          <strong v-html="work.user.name"></strong>
          <p>{{ work.user.country_name ? work.user.country_name + ',' : '' }} {{ work.user.city_name }}</p>
        </router-link>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        md="4"
        style="display: flex;justify-content: flex-end;align-items: center;"
      >
        <div>{{ moment.unix(work.created_at).format('YYYY-MM-DD') }}</div>
        <work-menu :work="work" :own="work.user_id == user_id"></work-menu>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <span>{{ work.description }}</span>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <vue-plyr :ref="'plyr'+work.id" v-if="work.type == 'video'">
          <video :poster="work.preview" :src="work.data" style="width: 100%;"></video>
        </vue-plyr>
        <img :src="work.data" v-if="work.type == 'images'" style="width: 100%;" />
        <vue-plyr :ref="'plyr'+work.id" v-if="work.type == 'audio'">
          <audio :src="work.data">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        </vue-plyr>
        <!-- <a :href="work.data" v-if="work.type == 'plainText'">Скачать работу</a> -->
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="4" sm="4" md="4" style="text-align: left;">
        <v-form @submit="sendLike">
          <v-btn text :disabled="liked || finished" type="submit">
            <v-icon class="like">mdi-heart{{ work.statics.like.is_liked ? '' : '-outline' }}</v-icon>
            {{ work.statics.like.amount }}
          </v-btn>
        </v-form>
      </v-col>
      <v-col cols="4" sm="4" md="4" style="text-align: center;">
        <v-btn text :to="'/work/'+work.id">
          <v-icon class="comment">mdi-comment-text-outline</v-icon>
          {{ work.statics.comments.amount }}
        </v-btn>
      </v-col>
      <v-col cols="4" sm="4" md="4" style="text-align: right;">
        <share :path="workPath" @shared="sendShare">
          <template v-slot:amount>{{ work.statics.share.amount }}</template>
        </share>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import workMenu from "@/components/Work/WorkMenuComponent.vue";
import Share from "@/components/Share.vue";
// import { mapState } from 'vuex';

export default {
  props: ["work", "liked", "finished"],
  components: {
    workMenu,
    Share
  },
  data() {
    return {};
  },
  computed: {
    user_id() {
      return localStorage.getItem("id") ? localStorage.getItem("id") : 0;
    },
    workPath() {
      return window.location.hash + "/work/" + this.work.id;
    },
    player() {
      if (this.$refs["plyr" + this.work.id])
        return this.$refs["plyr" + this.work.id].player;
      else return false;
    }
    // mapState(['plyr'])
  },
  mounted() {
    if (this.player) {
      this.player.on("play", () => this.$store.commit("setPlyr", this.work.id));
    }
    if (this.$refs["plyr" + this.work.id]) {
      this.$store.subscribe(mutation => {
        if (mutation.type == "setPlyr") {
          if (mutation.payload == this.work.id)
            this.$refs["plyr" + this.work.id].player.play();
          else this.$refs["plyr" + this.work.id].player.pause();
        }
      });
    }
  },
  methods: {
    sendLike() {
      this.$http
        .post(
          `${this.$store.getters.endpoint}/works/${this.work.id}/like`,
          {},
          {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`
            }
          }
        )
        .then(() => {
          this.work.statics.like.amount = this.work.statics.like.amount + 1;
          this.$emit("like");
        });
    },
    sendShare() {
      this.$http
        .post(
          `${this.$store.getters.endpoint}/works/${this.work.id}/share`,
          {},
          {
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`
            }
          }
        )
        .then(() => {
          this.work.statics.share.amount = this.work.statics.share.amount + 1;
        });
    }
  }
};
</script>

<style>
  .like::before{
    color: #ff2617;
  }
  .comment::before{
    color: #9721ff;
  }
</style>